@using Microsoft.AspNetCore.Identity
@using SportsTips.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="mdl-layout__tab">Hello @UserManager.GetUserName(User)!</a>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register" class="mdl-layout__tab">Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="mdl-layout__tab">Log in</a>
}
