@model SportsTips.Models.SportpesaTipViewModels.SportpesaTip

@{
    ViewData["Title"] = "Admin Create";
}

<h2>Admin Create New</h2>

<form asp-action="AdminCreate">
    <div class="form-horizontal">
        <h4>Sportspesa Tip</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TeamA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeamA" class="form-control" />
                <span asp-validation-for="TeamA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeamB" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeamB" class="form-control" />
                <span asp-validation-for="TeamB" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="League" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="League" class="form-control" />
                <span asp-validation-for="League" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                    <input type="text" value="01/01/2017" asp-for="StartDate" class="form-control" data-provide="datepicker" style="width: 400px;">
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KickOff" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KickOff" class="form-control" />
                <span asp-validation-for="KickOff" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TheTip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TheTip" class="form-control" />
                <span asp-validation-for="TheTip" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Odd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Odd" class="form-control" />
                <span asp-validation-for="Odd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPlayed" />
                    <label asp-for="IsPlayed"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsFriendlyMatch" />
                    <label asp-for="IsFriendlyMatch"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MatchStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MatchStatus" class="form-control" />
                <span asp-validation-for="MatchStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfTimeResults" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfTimeResults" class="form-control" />
                <span asp-validation-for="HalfTimeResults" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullTimeResults" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullTimeResults" class="form-control" />
                <span asp-validation-for="FullTimeResults" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeamAImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeamAImageUrl" class="form-control" />
                <span asp-validation-for="TeamAImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeamBImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeamBImageUrl" class="form-control" />
                <span asp-validation-for="TeamBImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="AdminIndex" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to Index</a>
</div>

