@model SportsTips.Models.SportpesaTipViewModels.SportpesaTip

@{
    ViewData["Title"] = "AdminDelete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.League)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TheTip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TheTip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Odd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Odd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfTimeResults)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfTimeResults)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullTimeResults)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullTimeResults)
        </dd>
    </dl>
    
    <form asp-action="AdminDelete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="AdminIndex">Go back to Index</a>
        </div>
    </form>
</div>
