@model PaginatedList<SportsTips.Models.SportpesaTipViewModels.SportpesaTip>

@{
    ViewData["Title"] = "Home Page";
}

<div class="mdl-layout__tab-panel is-active" id="overview">

    @foreach (var item in Model) {

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
              @*<i class="material-icons">play_circle_filled</i>*@
              @*<img src="~/images/ball_green.jpg" height="100%" width="100%" alt="ball_icon" />*@
              <i class="fa fa-futbol-o fa-5x" style="color:black"></i>
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>@Html.DisplayFor(modelItem => item.TeamA) vs @Html.DisplayFor(modelItem => item.TeamB)</h4>
                <hr />
                <p>@Html.DisplayFor(modelItem => item.League)</p>
                <p>@Html.DisplayFor(modelItem => item.StartDate)</p>
                <p>@Html.DisplayFor(modelItem => item.Odd)</p>
                <p>@Html.DisplayFor(modelItem => item.KickOff)</p>
              </div>
              <div class="mdl-card__actions">
                <a asp-action="AdminDetails" asp-route-id="@item.ID" class="mdl-button" >View Match Details</a>
                <a asp-action="AdminEdit" asp-route-id="@item.ID" class="mdl-button" >Edit Match Details</a>
                <a asp-action="AdminDelete" asp-route-id="@item.ID" class="mdl-button text-danger" >Delete</a>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
              <li class="mdl-menu__item"><a asp-action="AdminArchive" asp-route-id="@item.ID" class="mdl-button" >Archive</a></li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item"><a asp-action="AdminDelete" asp-route-id="@item.ID" class="mdl-button" >Delete</a></li>
            </ul>
        </section>

        
    }
    
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


    <section class="section--footer mdl-color--white mdl-grid">
        
        <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <a asp-action="AdminIndex"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-page="@(Model.PageIndex - 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @prevDisabled btn">
                Previous
            </a>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <a asp-action="AdminIndex"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-page="@(Model.PageIndex + 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @nextDisabled btn">
                Next
            </a>
        </div>
    </section>




