@model SportsTips.Models.SportpesaTipViewModels.SportpesaTip

@{
    ViewData["Title"] = "View Details";
}

<div class="mdl-layout__tab-panel is-active" id="overview">

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
          <h4 class="mdl-cell mdl-cell--12-col">@Html.DisplayFor(model => model.TeamA) vs @Html.DisplayFor(model => model.TeamB) <div id="shareBtn" class="btn btn-success clearfix">Share</div></h4>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.League)</h5>
            @Html.DisplayFor(model => model.League)
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.TheTip)</h5>
            <div style="color:mediumvioletred;font-size:large;">@Html.DisplayFor(model => model.TheTip)</div>
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.Odd)</h5>
            @Html.DisplayFor(model => model.Odd)
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.StartDate)</h5>
            @Html.DisplayFor(model => model.StartDate)
          </div>

          
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.KickOff)</h5>
            @Html.DisplayFor(model => model.KickOff)
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.HalfTimeResults)</h5>
            @Html.DisplayFor(model => model.HalfTimeResults)
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--primary"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>@Html.DisplayNameFor(model => model.FullTimeResults)</h5>
            @Html.DisplayFor(model => model.FullTimeResults)
          </div>
        </div>
        <div class="mdl-card__actions">
          <a href="#" class="mdl-button">Read our features</a>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
      </ul>
    </section>
    <section class="section--footer mdl-color--white mdl-grid">
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>@Html.DisplayFor(model => model.TeamA)</h5>
        Previous Games coming soon



      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>@Html.DisplayFor(model => model.TeamB)</h5>
        Previous Games coming soon
      </div>
    </section>
        </div>
        <div class="mdl-layout__tab-panel" id="features">
          
</div>



